{% extends 'base.html' %}
{% block main %}
{% load static %} 
<div class="container mt-4">
        
    <!-- <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
      <div class="container-fluid">
          <div class="page-header-content">
              <div class="row align-items-center justify-content-between pt-3">
                  <div class="col-auto mb-3">
                      <h3 class="page-header-title" style="color: #4E73DF">
                          <i class="fas fa-fw fa-user-friends"></i>
                          <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                          Paciente: Datos del paciente
                      </font></font></h3>
                  </div>
              </div>
          </div>
      </div>
  </header> -->

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <!-- <div class="form-group row">
        <label class="col-sm-2 col-form-label"
            for="id_{{ form.nombre.name }}">{{form.nombre.label}}</label>
        <div class="col-sm-4>
            {{form.nombre}} 
        </div>
        <label class="col-sm-2 col-form-label"
            for="id_{{ form.apellido.name }}">{{form.apellido.label}}</label>
        <div class="col-sm-4>
            {{form.apellido}} 
        </div>

    </div> -->
   
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <strong> {{ form.errors | capfirst }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card shadow p-0">
                <div class="card-header"><font style="vertical-align: inherit; color: #4E73DF;"><font style="vertical-align: inherit;">Imagen del signo vital</font></font></div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->

                    <img class="img-account-profile rounded-circle mb-2" src="{% static 'imagenes/avatar1.png' %}" alt="Card image" id="preview_logo" style="width: 10rem;">
                    <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">JPG o PNG no mayor a 5 MB</font></font></div>
                    <!-- Profile picture upload button-->
                    <div class="form-group" onclick="ver( {{form.imagen.id_for_label}} )">
                      {{ form.imagen }}
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4 shadow p-0">
                <div class="card-header"><font style="vertical-align: inherit; color: #4E73DF;"><font style="vertical-align: inherit;">Registro de signos vitales</font></font></div>
                <div class="card-body">
          
                        <!-- Form Group (username)-->
                        <div class="form-group">
                            <label class="small mb-1" for="{{form.descripcion.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre del signo vital</font></font></label>
                            {{ form.descripcion }}
                            <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{form.rango1.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rango 1</font></font></label>
                            {{ form.rango1 }}
                            <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{form.rango2.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rango 2 </font></font></label>
                            {{ form.rango2 }}
                            <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{form.medida.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Medida </font></font></label>
                            {{ form.medida }}
                            <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                        </div>
                        <!-- Form Row-->
                     
                      <div class="form-group form-check">
                          {{ form.estado }}
                          <label class="form-check-label" for="{{form.estado.id_for_label}}">Estado</label>
                      </div>
                      
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar cambios</font></font></button>
                   
                </div>
            </div>
        </div>

    </div>
</form>

</div>
{% endblock %}

{% block jscript %}
<script>
    function ver(){
        // Obtener referencia al input y a la imagen

        const $seleccionArchivos = document.querySelector("#id_imagen"),
        $imagenPrevisualizacion = document.querySelector("#preview_logo");

        // Escuchar cuando cambie
        $seleccionArchivos.addEventListener("change", () => {
        // Los archivos seleccionados, pueden ser muchos o uno
        const archivos = $seleccionArchivos.files;
        // Si no hay archivos salimos de la función y quitamos la imagen
        if (!archivos || !archivos.length) {
            $imagenPrevisualizacion.src = "";
            return;
        }
        // Ahora tomamos el primer archivo, el cual vamos a previsualizar
        const primerArchivo = archivos[0];
        // Lo convertimos a un objeto de tipo objectURL
        const objectURL = URL.createObjectURL(primerArchivo);
        // Y a la fuente de la imagen le ponemos el objectURL
        $imagenPrevisualizacion.src = objectURL;
        });
    }
ver();
</script>
{% endblock %}