{% extends 'base.html' %}
{% block main %}
{% load static %} 
<div class="container mt-4">
        
    <!-- <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
      <div class="container-fluid">
          <div class="page-header-content">
              <div class="row align-items-center justify-content-between pt-3">
                  <div class="col-auto mb-3">
                      <h3 class="page-header-title" style="color: #4E73DF">
                          <i class="fas fa-fw fa-user-friends"></i>
                          <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                          Paciente: Datos del paciente
                      </font></font></h3>
                  </div>
              </div>
          </div>
      </div>
  </header> -->

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <!-- <div class="form-group row">
        <label class="col-sm-2 col-form-label"
            for="id_{{ form.nombre.name }}">{{form.nombre.label}}</label>
        <div class="col-sm-4>
            {{form.nombre}} 
        </div>
        <label class="col-sm-2 col-form-label"
            for="id_{{ form.apellido.name }}">{{form.apellido.label}}</label>
        <div class="col-sm-4>
            {{form.apellido}} 
        </div>

    </div> -->
   
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        <strong> {{ form.errors | capfirst }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
           
          </div>
          <div class="col-8">
            <div class="card mb-4 shadow p-0">
                <div class="card-header"><i class="fas fa-fw fa-user-clock" style="vertical-align: inherit; color: #4E73DF;"></i> <font style="vertical-align: inherit; color: #4E73DF;"><font style="vertical-align: inherit;">Registro de Agenda</font></font></div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="small mb-1" for="{{form.paciente.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paciente</font></font></label>
                        {{ form.paciente }}
                        <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="{{form.fecha.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de agenda</font></font></label>
                        {{ form.fecha }}
                        <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="{{form.hora.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hora de la consulta</font></font></label>
                        {{ form.hora }}
                        <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                    </div>
                    <div class="form-group">
                        <label class="small mb-1" for="{{form.motivo.id_for_label}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Motivo de la consulta</font></font></label>
                        {{ form.motivo }}
                        <!-- <input class="form-control" id="inputUsername" type="text" placeholder="Ingrese su nombre de usuario" value=""> -->
                    </div>
                    <div class="form-group form-check">
                        {{ form.estado }}
                        <label class="form-check-label" for="{{form.estado.id_for_label}}">Estado</label>
                    </div>
                    <button class="btn btn-primary" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar cambios</font></font></button>
                </div>
            </div>
          </div>
          <div class="col">
           
          </div>

    </div>
</form>

</div>
{% endblock %}